In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/abdullahmujawar/Documents/Stout Case Study/casestudy.csv', sep=',')

In [3]:
df.head()

   Index         customer_email  net_revenue  year
0      0   nhknapwsbx@gmail.com       249.92  2015
1      1   joiuzbvcpn@gmail.com        87.61  2015
2      2   ukkjctepxt@gmail.com       168.38  2015
3      3   gykatilzrt@gmail.com        62.40  2015
4      4   mmsgsrtxah@gmail.com        43.08  2015

In [24]:
df['Customer ID'] = df['customer_email'].apply(lambda x: x.split('@')[0])

min_dates = df.groupby(['Customer ID'])['year'].min()
df['First_Purchase_Date'] = df.apply(lambda row: min_dates.loc[row['Customer ID']], axis=1) 
df['New Customer'] = df['year'] <= df['First_Purchase_Date']
df['Existing Customer'] = df['year'] > df['First_Purchase_Date']
df['Total Customers'] = df['New Customer'] + df['Existing Customer']

Table = df.groupby(df['year'])[['New Customer', 'Existing Customer','Total Customers','net_revenue']].sum()

print(Table)

      New Customer  Existing Customer  Total Customers  net_revenue
year
2015        231294                  0           231294  29036749.19
2016        136891              67755           204646  25730943.59
2017        224420              25567           249987  31417495.03

/Users/abdullahmujawar/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:204: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  warnings.warn(

In [17]:
Existing_Cust_Data = df[df['Existing Customer'] == 1]

In [18]:
Existing_Cust_Data.head()

,Index,customer_email,net_revenue,year,Customer ID,First_Purchase_Date,New Customer,Existing Customer,Total Customers
231302,231302,baiikostmd@gmail.com,142.57,2016,baiikostmd,2015,False,True,True
231303,231303,lfeafnigbu@gmail.com,35.06,2016,lfeafnigbu,2015,False,True,True
231308,231308,sktswronzp@gmail.com,238.44,2016,sktswronzp,2015,False,True,True
231309,231309,tqxsjlgjpi@gmail.com,33.50,2016,tqxsjlgjpi,2015,False,True,True
231310,231310,hxshgpdxtr@gmail.com,217.35,2016,hxshgpdxtr,2015,False,True,True

In [20]:
Existing_Cust_Table = Existing_Cust_Data.groupby(Existing_Cust_Data['year'])[['Existing Customer','net_revenue']].sum() #with date filter on first purchase date

print(Existing_Cust_Table)

      Existing Customer  net_revenue
year
2016              67755   8524576.69
2017              25567   3226937.85

In [21]:
Existing_Cust_Table['Diff'] = Existing_Cust_Table['net_revenue'].diff(1)

In [22]:
print(Existing_Cust_Table)

      Existing Customer  net_revenue        Diff
year
2016              67755   8524576.69         NaN
2017              25567   3226937.85 -5297638.84

In [25]:
New_Cust_Data = df[df['New Customer'] == 1]

In [27]:
New_Cust_Data.head()

,Index,customer_email,net_revenue,year,Customer ID,First_Purchase_Date,New Customer,Existing Customer,Total Customers
0,0,nhknapwsbx@gmail.com,249.92,2015,nhknapwsbx,2015,True,False,True
1,1,joiuzbvcpn@gmail.com,87.61,2015,joiuzbvcpn,2015,True,False,True
2,2,ukkjctepxt@gmail.com,168.38,2015,ukkjctepxt,2015,True,False,True
3,3,gykatilzrt@gmail.com,62.40,2015,gykatilzrt,2015,True,False,True
4,4,mmsgsrtxah@gmail.com,43.08,2015,mmsgsrtxah,2015,True,False,True

In [36]:
New_Cust_Table = New_Cust_Data.groupby(New_Cust_Data['year'])[['New Customer','net_revenue']].sum() #with date filter on first purchase date

print(New_Cust_Table)

      New Customer  net_revenue
year
2015        231294  29036749.19
2016        136891  17206366.90
2017        224420  28190557.18

In [37]:
New_Cust_Table['Diff in Customers'] = New_Cust_Table['New Customer'].diff(1)

In [38]:
print(New_Cust_Table)

      New Customer  net_revenue  Diff in Customers
year
2015        231294  29036749.19                NaN
2016        136891  17206366.90           -94403.0
2017        224420  28190557.18            87529.0